page-chat {
  #avatar {
    width: 130px;
    float: left;
  }
  #goToPerfil {
    background-color: #f53d3d;
    height: 1.8em;
    font-size: 1.6rem;
    color: #fff;
    position: relative;
    top: 6px;
  }
  #nome {
    text-align: center;
    position: absolute;
    left: 58px;
    top: 2px;
  }
  #img {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
  }
}
