page-profile {
  .header {
    background: #ff4436 !important;
  }
  .toolbar {
    background-image: url("../assets/img/bgMenuAdotaPet.png") !important;
    height: 8rem;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    top: 10px;
  }
}
