// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "animate.css";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

@import "roboto";
@import "noto-sans";

$chat-bubble:(
  background-left: #ffffff,
  background-right: #78fa88,
);

$font-path: "../assets/fonts";

@import "ionic.globals";

$colors: (
        primary:    #d52f39,
        secondary:  #770a0e,
        danger:     #ff0000,
        light:      #fff,
        dark:       #000
);

$size_extrasmall:1.0rem;
$size_small:1.3rem;
$size_normal:1.3rem;
$size_large:1.8rem;
$size_extralarge:2.1rem;

$border-color:#ccc;

$rprimary : #fff;
$rsecondary: #C9C7D3;
$pholder:#666;
$border:#ccc;
$button:#4f0306;
$loginSignupGradiant:#768fff;
// Manage toolbar color
$toolbar-background:color($colors, primary);


// Manage Menu Style
$menu_bg_color:color($colors, secondary);
$menu_font_color:$rsecondary;
$menu_font_size:$size_normal;
$menu_separator_line_color:#4f0306;
$menu_avatar_bg_color:color($colors, light);
$menu_avatar_font_color:color($colors, dark);
$menu_avatar_text_color:color($colors, light);

ion-modal {
  &.my-modal-inner {
    display: flex;
    align-items: center;
    justify-content: center;


    ion-backdrop {
      visibility: visible;
    }

    .modal-wrapper {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow: auto;
      width: auto;
      height: auto;
      left: auto;
      top: auto;
      contain: content;

      max-width: 70%;
      max-height: 70%;

      border-radius: 2px;
      box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

      > .ion-page {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        contain: content;
        box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      }
    }

    &.my-stretch {
      .modal-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;

        > .ion-page {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &.my-fullscreen {
    .modal-wrapper {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.toolbar-danger .toolbar-background {
  background: transparent !important;
  border: none !important;
}

.toolbar-ios-danger .toolbar-title-ios, .toolbar-ios-danger .bar-button-clear-ios, .toolbar-ios-danger .bar-button-default-ios {
  color: #ffffff85;
  font-size: 26px;
}
