<ion-header>
    <ion-navbar color="danger">
        <ion-title>
            Meu Perfil
        </ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content padding *ngIf="!canEnter">
    <please-login></please-login>
</ion-content>
<ion-content fullscreen #myContent *ngIf="canEnter">
    <ion-toolbar color="light" mode="md">
        <ion-segment color="dark" mode="md" [(ngModel)]="section">
            <ion-segment-button value="one">
                Meus Pets
            </ion-segment-button>
            <ion-segment-button value="two">
                Menssagens
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="section">

        <div *ngSwitchCase="'one'">
            <meus-pets></meus-pets>
        </div>

        <div *ngSwitchCase="'two'">
            <salas-chat></salas-chat>
        </div>

    </div>
</ion-content>