<ion-header>
    <ion-navbar class="toolbar toolbar-danger" color="danger" style="background-image: url('assets/img/bgMenuAdotaPet.png') !important;height: 80px;width: 100%;background-size: 100% 100%;">

    <ion-title>
            {{"Perfil" | translate}}
        </ion-title>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

    </ion-navbar>
</ion-header>
<ion-content class="bgdLogin" padding id="page3.1" *ngIf="!canEnter" >
    <please-login></please-login>
</ion-content>
<ion-content  #myContent *ngIf="canEnter">

    <ion-toolbar color="light" mode="md">
        <ion-segment color="dark" mode="md" [(ngModel)]="section">
            <ion-segment-button value="one">
                {{ "Meus Pets" | translate }}
            </ion-segment-button>
            <ion-segment-button value="two">
                {{ "Menssagens" | translate }}
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="section">

        <div *ngSwitchCase="'one'">
            <meus-pets></meus-pets>
        </div>

        <div *ngSwitchCase="'two'">
            <salas-chat></salas-chat>
        </div>

    </div>
  <ion-footer>
    <button ion-button block (click)="logOf()">
      Sair
    </button>
  </ion-footer>
</ion-content>
